@using ZamawianiePosiłkowOnline.ViewModels
@model ShoppingCartViewModel
@{
    ViewData["Title"] = "Koszyk";
}

<div class="container pt-3">
    <div class="row pt-1">
        <div class="col-6">
            <h2 class="text-primary">&#128722Koszyk&#128722</h2>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped">
    <style>
        table {
            text-align: center;
            vertical-align: middle;
        }
    </style>
    <thread>
        <tr>
            <th>
                Zdjęcie
            </th>
            <th>
                Nazwa dania
            </th>
            <th>
                Cena
            </th>
            <th>
                ilość
            </th>
            <th></th>
        </tr>
    </thread>
    <tbody>
        @foreach (var meal in Model.CartItems)
        {
            <tr>
                <td style="width:200px">
                    <img src="~/MealImages/@meal.CartMeal.ImageUrl" width="190" height="190"></img>
                </td>
                <td>
                    @meal.CartMeal.Name
                </td>
                <td>
                    @String.Concat(Math.Round(@meal.CartMeal.MealPrice, 2), " PLN")
                </td>
                <td>
                    <form asp-action="InputChange" asp-route-id="@meal.Id">
                        <input value=@meal.Quantity style="width:20%" asp-controller="Orders" asp-action="InputChange" asproute-id="@meal.Id" type="number" name="inputQuantity" class="custom-range" min="1" max="99" step="1" />
                        <input hidden type="submit" value="Save" class="btn btn-primary" />
                    </form>
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Orders" asp-action="DeleteFromCart" asp-route-id="@meal.CartMeal.Id" class="btn btn-danger">&#10060&#128722Usuń z koszyka</a>
                    </div>

                </td>
            </tr>
        }
        @section Scripts
        {
            <script>
                $('form input').change(function () {
                    $(this).closest('form').submit();
                });
            </script>
        }
    </tbody>

</table>
<tbody>
    <table class="table table-bordered">
        <tr></tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td style="width:150px">Razem:</td>
            <td style="width:150px">@Model.TotalPrice?.ToString("C")</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td style="width:150px">+Dostawa:</td>
            <td style="width:150px">@Model.TotalDeliveryCost?.ToString("C")</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td style="width:150px">Do Zapłaty:</td>
            <td style="width:150px">@Model.TotalTotal?.ToString("C")</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2">
                <a class="btn btn-success" asp-controller="orders" asp-action="ConfirmPurchase">&#128179Przejdź do Płatnosci</a>
            </td>
        </tr>
    </table>
</tbody>
